<header id="hero" class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
                <div class="hero-content">
                    <div class="hero-title__group">
                        <div class="hero-title">
                             <h2 class="zuri">Waploaj<br>Transit Agency.</h2> 
                        </div>
                        <div class="Hero--Subtitle">
                            <p class="lead">Waploaj is the world leader in communications services
A global powerhouse of creative talent, we help clients understand and reach audiences, build brands, sell products and services, grow their businesses and prepare for the future.</p>
                        </div>
                    </div>
                    <!-- <div class="hero-cta-group">
                        <form id="mailform" class="hero-form cta__large">
                            <div class="alert text-red">Thanks for joining our mailing list!!</div>
                            <div class="input-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email"
                                       placeholder="Enter your email" required>
                                <button type="submit" class="btn btn-secondary">Join mailing list</button>
                            </div>
                            <span class="assistive-text">* Get all the latest exciting community announcements delivered to your inbox.</span>
                        </form>
                    </div> -->
                </div>
            </div>
            <div class="col-12 col-sm-5 ml-auto">
                <div class="hero-figure">
                    <iframe id="video" width="420" height="315" src="//www.youtube.com/embed/wfuFNddPgvc?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="workshops" class="section-spacer workshops-section bg-very__gray">
    <div class="container">
        <header class="section-header text-center">
            <!-- <h2 class="section-title">Services & Workshops</h2> -->
        </header>
        <div class="workshops-type-switch">
            <ul class="nav nav-pills justify-content-center js-tabs">
               <h2>What we do at Waploaj?🙃</h2>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                <div class="row">
                    <div class="col-md-4">
                        <div class="workshops-single">
                            <div class="workshops-header">
                                <div class="workshops-price">
                                    <div class="workshops-value">
                                        Dala Dala Branding
                                        <hr>
                                    </div>
                                     <h5>Make your message a part of their trip</h5>
                                    <!-- <h6>with : Over 100 buses operating up to 19hours and More than  130,000 passengers daily.</h6> -->
                                    <p>We Connect Businesses With Transit Companies, Who Connect With Your Customers
As a bus approaches a stop in any one of our markets, your message can be heard! </p> 
                                </div>
                            </div>
                            <div class="workshops-footer">
                                <a routerLink="/dala" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="workshops-single">
                            <div class="workshops-header">
                                <div class="workshops-price">
                                    <div class="workshops-value">
                                        Digital Branding
                                        <hr>
                                    </div>
                                     <h5>Keep it simple</h5>
                                    <p>is about establishing your brand's story and presence in the digital space. Digital branding is the key to establishing a meaningful connection with your target audience.</p>
                                </div>
                            </div>
                            <div class="workshops-footer">
                                <a routerLink="/digital" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="workshops-single">
                            <div class="workshops-header">
                                <div class="workshops-price">
                                    <div class="workshops-value">
                                        Billboard Branding
                                        <hr>
                                    </div>
                                    <h5>Reach a mass audience!!</h5>
                                   <p>Reach a mass audience enroute to long-term brand recognition,
                                       You are not just addressing riders with these "moving billboards. .... with our experts can help you start a business, grow your business, build your brand, fundraise and more.
                                   </p>
                                </div>
                            </div>
                            <div class="workshops-footer">
                                <a routerLink="/billboard" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

        
 