<header id="hero" class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
                <div class="hero-content">
                    <div class="hero-title__group">
                        <div class="hero-title">
                             <h2 class="zuri">Waploaj<br>Transit Agency.</h2> 
                        </div>
                        <div class="Hero--Subtitle">
                            <p class="lead">Millions  of people  use transit daily, We've developed the most effective way to reach them. waploaj  transit agencies  reach  millions of consumers</p>
                        </div>
                    </div>
                    <div class="hero-cta-group">
                        <form id="mailform" class="hero-form cta__large">
                            <div class="alert text-red">Thanks for joining our mailing list!!</div>
                            <div class="input-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email"
                                       placeholder="Enter your email" required>
                                <button type="submit" class="btn btn-secondary">Join mailing list</button>
                            </div>
                            <span class="assistive-text">* Get all the latest exciting community announcements delivered to your inbox.</span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-5 ml-auto">
                <div class="hero-figure">
                    <img src="http://dorcas.infoconsultancy.com/hero.png" class="img-fluid w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
  <section id="overview" class="section-spacer">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-12">
                <div class="feature-card">
                    <div class="u-icon u-icon__circle u-icon__lg bg-dimped__primary">
                        <i class="fas fa-rocket animated jello infinite"></i>
                    </div>
                    <div class="feature-card__body">
                        <h4 class="feature-title">Our Mission</h4>
                        <p>Is to give your business a boost when you advertise with  "Dala Dala" ! More than  130,000 passenger use Waploaj  "Dala Dala" daily.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature-card">
                    <div class="u-icon u-icon__circle u-icon__lg bg-dimped__red">
                        <i class="fas fa-lightbulb animated tada infinite"></i>
                    </div>
                    <div class="feature-card__body">
                        <h4 class="feature-title">Why us?</h4>
                        <p> 100 buses operating up to 19 hours every day on 80 fixed transit routes - 1,500 transit benches - More than 400 transit shelters.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature-card m-0">
                    <div class="u-icon u-icon__circle u-icon__lg bg-dimped__green">
                        <i class="fas fa-users animated pulse infinite"></i>
                    </div>
                    <div class="feature-card__body">
                        <h4 class="feature-title">Target audience</h4>
                        <p>Those who take the bus to work or to shopping. This ensures that spending power exists for transit riders to buy your product or service.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <footer class="section-spacer footer-section">
    <div class="container">
        <div class="row flex-column-reverse flex-sm-row flex-lg-row">
            <div class="col-md-4 col-12">
                <div class="footer-widget first-of-footer-widget">
                    <img src="https://waploaj.infoconsultancy.com/images/brand_2.png" class="logo-sm mb-10" alt="Image">
                    <p>Copyright &copy; 2018. All Rights Reserved.</p>
                    <span>Feel free to drop us an email at </span>
                    <a href="mailto:info@waploaj.com">info@waploaj.com</a>
                    <ul class="social-list__inline mt-10">
                        <li>
                            <a href="https://twitter.com/Duurhla">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/waploaj">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-slack"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-10">
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Programs</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.womentechmakers.com/">Women Techmakers</a>
                                </li>
                                <li>
                                    <a href="https://developers.google.com/programs/launchpad/">StartUp Launchpad</a>
                                </li>
                                <li>
                                    <a href="https://developers.google.com/experts/">Google Developer Experts</a>
                                </li>
                                <li>
                                    <a href="https://developers.google.com">Google Developer Groups</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Developers</h4>
                            <ul>
                                <li class="list-unstyled">
                                <li>
                                    <a href="https://github.com/waploaj">Developers Forum</a>
                                </li>
                                <li>
                                    <a href="https://github.com/waploaj">GitHub</a>
                                </li>
                                <li>
                                    <a href="#">Code of
                                        conduct</a>
                                </li>
                                <li>
                                    <a href="https://github.com/waploaj">Release Notes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Support</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Terms and Service</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Cookie Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>