<section id="faqs" class="section-spacer section-faq">
    <div class="container">
        <header class="section-header text-center">
            <h2 class="section-title">Frequently Asked Questions</h2>
        </header>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Who can become a member?</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How do you reach audience?</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Who are the rides?</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">which bussiness to advertise?</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-40 text-center">
            <a href="mailto:info@waploaj.com" class="btn btn-primary btn-lg">Send us an email</a>
        </div>
    </div>
</section>