<div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
</div>
<nav class="navbar navbar-expand-lg fixed-top custom-menu custom-menu__light">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="https://waploaj.infoconsultancy.com/images/brand_2.png" alt="Image">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-icon__circle">
        </span>
            <span class="menu-icon">
          <span class="menu-icon__bar"></span>
          <span class="menu-icon__bar"></span>
          <span class="menu-icon__bar"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/about">About Us
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#workshops">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faqs">help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://medium.com/search?q=DSCKisii" target="_blank">Careers</a>
                </li>
            </ul>
            <div class="custom-menu__right">
                <a routerLink="/faq" class="btn btn-primary btn-pills" >FAQs</a>
            </div>
        </div>
    </div>
    <i class="fas fa-bell notify vanish" title="Enable notifications"></i>
</nav>
  

