<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="section-spacer footer-section">
    <div class="container">
        <div class="row flex-column-reverse flex-sm-row flex-lg-row">
            <div class="col-md-4 col-12">
                <div class="footer-widget first-of-footer-widget">
                    <img src="https://waploaj.infoconsultancy.com/images/brand_2.png" class="logo-sm mb-10" alt="Image">
                    <p>Copyright &copy; 2018. All Rights Reserved.</p>
                    <span>Feel free to drop us an email at </span>
                    <a href="mailto:info@waploaj.com">info@waploaj.com</a>
                    <ul class="social-list__inline mt-10">
                        <li>
                            <a href="https://twitter.com/Duurhla">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/waploaj">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-slack"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-10">
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Company</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a routerLink="/gps">Gps Tranking System</a>
                                </li>
                                <li>
                                    <a >Our social Networks Program</a>
                                </li>
                                <li>
                                    <a >Our Partners</a>
                                </li>
                                <li>
                                    <a >Our Story</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Developers</h4>
                            <ul>
                                <li class="list-unstyled">
                                <li>
                                    <a href="https://github.com/waploaj">Developers Forum</a>
                                </li>
                                <li>
                                    <a href="https://github.com/waploaj">GitHub</a>
                                </li>
                                <li>
                                    <a href="#">Code of
                                        conduct</a>
                                </li>
                                <li>
                                    <a href="https://github.com/waploaj">Release Notes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Support</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Terms and Service</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Cookie Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>